<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue JS 3 Bangla Tutorial</title>
    <link rel="stylesheet" href="style.css" />
    <script src="vue.js"></script>
</head>
<body>
    
    <div id="app">
        <!-- <p v-for='car in cars'>
            {{car}}
        </p> -->   // for looping // 
<!--         
        <p v-for='(car, index) in cars'>
            {{index}} : {{car}}
        </p> --> // for looping with index // 

        <!-- <p v-for='(key, user, index) in users'>
           {{index}} : {{user}} : {{key}}
        </p>   --> // for looping with index & key//

        <p v-for='n in 10'>
            {{n}}
         </p>  // Number looping //

    </div>
    
    <script src="app.js"></script>
  </body>
</html>